@import url(fonts/MyriadPro/stylesheet.css);

body {
	margin: 0;
	padding: 0;
}

#pan {
	width: 100%;
	height: 87px;
	background: #46243c; 


}

#pan ul{
	margin-right: 60px;
	margin-top:0px;
	font-family: 'Myriad Pro', 'sans serif';
}

.pan {
	float:right;

}

.pan a{
	font-family: 'Myriad Pro', 'sans serif';
	text-decoration: none;
	color: #fff;
}

.pan li {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 8px 8px 8px 8px;
	color: #fff;
	margin:10px;



}
.container { 
	width:940px;
	margin:0 auto;
}

#logo {
	width:220px;
	padding-top: 17px;
	display: inline-block;
	margin-left: 20px;
	font-family: 'Myriad Pro', 'sans serif';
}

#logo h6 {
	float: right;
	text-transform: uppercase;
	color:#fff;
	font-size:18px;
	padding:1px;
	margin:15px auto;
	margin-right:10px;
}

.but {
	width: 117px;
	background: #4dae96;
	border-radius: 6px;
	border:none;
	padding:15px;
	color:#fff;
	font-size: 15px;
}

.bl1{
width: 600;
margin-top: 70px;
}


#bl1{
	width: 100%;
	height: 490px;
	background: #6f5467;
	border-bottom: solid 1px;
	padding-top: 20px;

}

.bl1 h2{
	margin-right: 20px; 
}


.h2 {
	width: 600px;
	font-family: 'Myriad Pro', 'sans serif';
	font-weight: normal;
	font-style: normal;
	font-size:35px;
	text-align: center;
	display: table;
	color:#fff;
	
}

.bl1 p{
	width: 530px;
	margin-left: 0px;
	padding-top: 10px;
	color:#fff;
	text-align: justify;
	font-family: 'Myriad Pro', 'sans serif';
}

.bl1 img {
	float:right;
	margin-top: -260px;
	padding-right: 80px;

}
.but2{
	margin:0 auto;
	display: table;
}
.but2 button{
	width: 300px;
	background:#d35400;
	border-radius: 9px;
	border:none;
	padding:20px;
	color:#fff;
	font-size: 28px;
	font-family: 'Myriad Pro', 'sans serif';
	box-shadow: 0px 10px 2px 0px #b4491f;

	margin-top: 40px;
	/* margin-left: 120px; */
}

#bl2{
	width: 100%;
	height: 690px;
	background: #4dae96;
	border-bottom: solid 1px;
	padding-top: 20px;
}

.bl2__text1{

	width:500px;
	margin-top:112px;
	margin-left: 182px;
	text-align: center;
	font-size: 14px;
	color:#fff;
	font-family: 'Myriad Pro', 'sans serif';
	font-weight: bold;

}

.flex{
	width: 100%;
	margin:40px 0 2px 0;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex1{
	margin-top: 0px;
	width: 220px;
	color:#fff;
	font-family: 'Myriad Pro', 'sans serif';
	font-size:14px;
	padding-bottom: 0;
}


.flex1 p{
	margin-top: 50px;
	
}

.flex img{
	margin-left: 20px;
}